body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 1000vh;
    flex-grow: 1;
}

header{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
    color: white;
    text-align: center;
}

#title{ 
    padding: 10px;
}

#navbar{

    border : 1px solid black;
    padding : 15px;
    margin : 5px;
    border-radius: 15px;
}

#nav-btn{

    margin: 10px;
    font-size: large;
    background-color: white;
    border:  1px solid white;

    font-family: Arial, Helvetica, sans-serif;

}


#nav-btn:hover{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left :25px;
    padding-right: 25px;
    border-radius: 25px;
    text-align: right;
    border-radius: 25px;
    font-size: x-large;
    background-color: lightgray;
}

#mainspace{
    border : 1px solid black;
    padding : 15px;
    margin : 5px;
    border-radius: 15px;
}


#footer{

    border : 1px solid white;
    padding : 15px;
    margin : 5px;
    background-color: white;
    color: black;
    border-radius: 15px;
  
}

a:hover{
    color: black;
}

#black-bckg{

    padding: 15px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
 
}